
extends layout

block body
  //- Main jumbotron for a primary marketing message or call to action
  .jumbotron.mb-0
    .container
      h1.display-3= t('The Best Node.js Framework')
      p= t('Lad scaffolds a Koa webapp and API framework for Node.js')
      p
        a.btn.btn-success.btn-lg(href=l('/register'), role="button", data-toggle='modal-anchor', data-target='#modal-sign-up')= `${t('Try the demo')} »`
  .bg-success.py-5
    .container
      .row
        .col
          code.bg-dark.text-white.p-3.rounded npm install -g lad
  .container.pt-5
    .row
      //- Example row of columns
      .col-md-3
        h2= t('Web Server')
        p= t('Built on top of Koa, the successor to Express.  This full-stack web server uses the latest versions of Pug, Gulp, Sass, PostCSS, Bootstrap, and more.')
        p
          a.btn.btn-secondary(href="https://lad.js.org/#/?id=front-end", target="_blank", role="button")= `${t('Front-end')} »`
      .col-md-3
        h2= t('API Server')
        p= t('Inspired by Stripe, the RESTful API server also uses Koa and has a complete stack with error handling, authentication, and tests.')
        p
          a.btn.btn-secondary(href="https://lad.js.org/#/?id=back-end", target="_blank", role="button")= `${t('Back-end')} »`
      .col-md-3
        h2= t('Job Queue')
        p= t('Layered on top of Bull and backed by Redis, the job scheduler supports cron and human-readable syntax, child processes, and more.')
        p
          a.btn.btn-secondary(href="https://lad.js.org/#/?id=back-end", target="_blank", role="button")= `${t('Learn more')} »`
      .col-md-3
        h2= t('Proxy Server')
        p= t("Redirect HTTP to HTTPS traffic with support for Let's Encrypt Free SSL Certbot validation.")
        p
          a.btn.btn-secondary(href="https://lad.js.org/#/", target="_blank", role="button")= `${t('View docs')} »`
